{% extends "admin/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>Add Topper</h1>
        <form action="{{ url_for('admin.manage_toppers') }}" method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.year.label }}
                {{ form.year(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.percentage.label }}
                {{ form.percentage(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.photo.label }}
                {{ form.photo(class="form-control-file") }}
            </div>
            <p>{{ form.submit(class="btn btn-primary") }}</p>
        </form>
    </div>
    <div class="col-md-6">
        <h1>Existing Toppers</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Percentage</th>
                    <th>Photo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for topper in toppers %}
                <tr>
                    <td>{{ topper.name }}</td>
                    <td>{{ topper.year }}</td>
                    <td>{{ topper.percentage }}%</td>
                    <td><img src="{{ url_for('static', filename='uploads/' + topper.photo) }}" width="50"></td>
                    <td>
                        <a href="#" class="btn btn-sm btn-warning">Edit</a>
                        <a href="#" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
